.flex-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    width: 80%;
    padding: 20px;
    background-color: lightcyan;
    border: 1px solid lightcoral;
  }